<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ROP攻击防御检测效果展示</title>
<script type="text/javascript">
function checkOrCancelAll() {
    var chElt=document.getElementById("chElt");
    var checkedElt = chElt.checked;
    var allCheck = document.getElementsByName("defend");
    if(checkedElt) {
        for(var i=0;i<allCheck.length;i++) {
            allCheck[i].checked=true;
        }
    }
    else {
        for(var i=0;i<allCheck.length;i++) {
            allCheck[i].checked=false;
        }
    }
}
function readLog(argument) {
	var log = document.getElementById("logFile").value;
	alert(log);

	var reader = new FileReader();
	reader.readAsText(log);
    
    reader.onload = function(){
        var text = reader.result;
    }

	alert(text);
	document.getElementById("text").innerHTML = text
}

</script>
<h1>
    ROP攻击防御检测效果展示
</h1>
</head>
<body>
    <form action="/index" method="post">
        {% csrf_token %}
        <table border="0">
            <td>    
                <span>选择程序所含漏洞类型:</span>
                <br/>
                <br/>
                <input type="radio" name="attack" value="bof" >
                <span id="bof">缓冲区溢出</span>
                <br/>
                <br/>
                <input type="radio" name="attack" value="fsb">
                <span id="fsb">格式化字符串</span>
                <br/>
                <br/>
            </td>
            <td>
                <span>选择防御方案:</span>
                <br/>
                <input type="checkbox" name="defend" value="r2l">
                <span id="ret2linc">返回地址检测</span>
                <br/>
                <input type="checkbox" name="defend" value="thr">
                <span id="crbalance">gadget识别(阈值)</span>
                <br/>
                <input type="checkbox" name="defend" value="stk">
                <span id="shadowstack">影子栈</span>
                <br/>
                <input type="checkbox" name="defend" value="crb">
                <span id="crbalance">call-ret平衡</span>
                <br/>
                <input type="checkbox" name="defend" value="got">
                <span id="gotcheck">GOT保护</span>
                <br/>
                <input type="checkbox" name="defend" value="cpr">
                <span id="call-preceded">先前调用返回匹配</span>
                <br/>
                <input type="checkbox" id="chElt" onclick="checkOrCancelAll();"/>
                <span id="mySpan">select all</span>
                <br/>
            </td>
        </table>
        <br/ >
        <input type="submit" value="start">
    </form>
    <br/>

    <code>
	    <table style="background: transparent; border-color: blue" border="2" cellpadding="10">
	    	<tr>
	    		<th>漏洞类型</th>
	    		<th>返回地址检测</th>
                <th>阈值检测</th>
	    		<th>影子栈</th>
	    		<th>指令平衡</th>
                <th>GOT保护</th>
	    		<th>先前调用返回匹配</th>
	    		<th>服务端口</th>
	    	</tr>
			<tr>
	    		<td>{{attack}}</td>
	    		<td>{{r2l}}</td>
                <td>{{thr}}</td>
	    		<td>{{stk}}</td>
	    		<td>{{crb}}</td>
                <td>{{got}}</td>
	    		<td>{{cpr}}</td>
	    		<td>{{port}}</td>
	    	</tr>
	    </table>
	</code>

	<br/>
    <input style="background: transparent; border-color: blue" value=" service start at port {{ port }}">
	<br/>
	<br/>

    <input style="background: transparent; border-color: blue" value=" $ nc {{ host }} {{ port }}">

    <form action="/result", method="post">
        {% csrf_token %}
	    <input type="hidden" id="logFile" value="{{ log }}" />
		<br/> <br/>查看防御结果： 
        <input type="submit" value="result">
        <br/>
	    <!-- <input type="button" value="check" id="show" onclick="readLog();"/> -->
		<textarea readonly rows="100" cols="80" id="text">{{ text }}</textarea>
    </form>

</body>
</html>
